sprint1/data/credits.csv
sprint1/data/ratings.csv
sprint1/data/keywords.csv
sprint1/data/links_small.csv
sprint1/data/links.csv
sprint1/data/metadata_clean.csv
sprint1/data/movies_metadata.csv
sprint1/data/ratings_small.csv